<mat-button-toggle-group multiple (change)="toggleChange($event)" [value]="value">
    <mat-button-toggle value="neutral">Neutral</mat-button-toggle>
    <mat-button-toggle value="guardian">Guardian</mat-button-toggle>
    <mat-button-toggle value="mystic">Mystic</mat-button-toggle>
    <mat-button-toggle value="rogue">Rogue</mat-button-toggle>
    <mat-button-toggle value="seeker">Seeker</mat-button-toggle>
    <mat-button-toggle value="survivor">Survivor</mat-button-toggle>
</mat-button-toggle-group>