<mat-button-toggle-group multiple (change)="toggleChange($event)" [value]="value">
    <mat-button-toggle value="core">Core</mat-button-toggle>
    <mat-button-toggle value="rtnotz">Return to NotZ</mat-button-toggle>
    <mat-button-toggle value="dwl">Dunwich</mat-button-toggle>
    <mat-button-toggle value="rtdwl">Return to Dunwich</mat-button-toggle>
    <mat-button-toggle value="ptc">Carcossa</mat-button-toggle>
    <mat-button-toggle value="rtptc">Return to Carcossa</mat-button-toggle>
    <mat-button-toggle value="tfa">Forgotten age</mat-button-toggle>
    <mat-button-toggle value="rttfa">Return to Forgotten age</mat-button-toggle>
    <mat-button-toggle value="tcu">Circle Undone</mat-button-toggle>
    <mat-button-toggle value="rttcu">Return to Circle Undone</mat-button-toggle>
    <mat-button-toggle value="tde">Dream Eaters</mat-button-toggle>
    <mat-button-toggle value="tic">Innsmouth</mat-button-toggle>
    <mat-button-toggle value="promo">Promo</mat-button-toggle>
    <mat-button-toggle value="starters">Starters</mat-button-toggle>
</mat-button-toggle-group>